.diva{

margin: auto;
background-color: cadetblue; 
width: 800px;
height: 500px;
color: white;
text-align: center;

}

.divb{

    margin: auto;
    }


 #resim{
     width: 300px;
     height: 150px;
 
}
#mavi{
    font-family: Helsinki;
    font-size: 30px;
    color: cadetblue;
}
.kutu {
    width: 120px;
    height: 120px;
    margin: 10px;
    float: left;
}

#white{
     color: white;
}
#kirmizi{
    background-color: red;
}
#sari{
    background-color: yellow;
}
